*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
}
:root{
    --color-principal: rgb(14, 33, 73);
    --color-secundaria: rgb(222,178,100);
    --color-grey: rgb(240,240,240);
    --color-grey-input: rgb(230,230,230);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
}
.container
{
    display: flex;
    max-width: 1200px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
    /*border: 2px solid rgb(30, 255, 0);*/
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.line-color{
    width: 100%;
    height: 10px;
    background-color: var(--color-secundaria);
}
.navegation{
    background-color: var(--color-principal);
    height: 90px;
    width: 100%;
    box-shadow: 0px 2px 10px black
}
.navegation .container{
    height: 90px;
}
.nav-1{
    display: flex;
    /*border: 2px solid red;*/
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: center;
    
}
.nav-1 img{
    /*border: 2px solid blue;*/
    height: 100%;
}
.nav-menu{
    display: flex;
    /*border: 2px solid blue;*/
    display: flex;
    width: 85%;
    height: 100%;
}
.nav-2{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    
}
.nav-2 li{
    list-style: none;
}
.nav-2 a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
    margin-right: 80px;
}
.nav-2 a:hover{
    color: var(--color-secundaria);
}
.nav-2 img{
    height: 28px;
    width: 28px;
    display: none;
    cursor: pointer;
    /*border: 2px solid rgb(255, 217, 0);*/
}
.nav-mobile{
display: none;
}

/*  --- Section Principal ---   */

.principal
{
    background-image: url('../image/background_01.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-bottom: -30px;
    height: calc(100vh - 100px);
    z-index: 1;
}
.principal .container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
}
.box-bar-main{
    background-color: var(--color-white);
    max-width: 1000px;
    width: 100%;
    border-radius: 11px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    margin-top: 200px;
}
.box-bar-pesquisa
{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
}
.box-select2, .box-select1{
    display: flex;
    height: 40px;
    width: 20%;
    background-color: var(--color-grey);
    flex-direction: column;
    border-radius: 11px;
}
.box-sel-preten-drop.open, .box-sel-tipos-drop.open{
    z-index: 20;
    display: flex;
}
.box-sel-preten, .box-sel-tipos{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-sel-preten-drop, .box-sel-tipos-drop{
    margin-top: 10px;
    display: none;
    flex-direction: column;
    background-color: var(--color-white);
    align-items: start;
    box-shadow: 2px 2px 6px black;
    justify-content: center;
    align-items: center;
    transition: height .4s ease-in-out;
}
.box-sel-preten-drop input[type="radio"], .box-sel-tipos-drop input[type="radio"] {
    display: none;
}
.box-sel-preten-drop h4, .box-sel-tipos-drop h4{
    font-size: 14px;
    padding-left: 10px;
    font-weight: 500;
}
.box-sel-preten-drop label, .box-sel-tipos-drop label{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 28px;
}
.box-sel-preten-drop label:hover, .box-sel-tipos-drop label:hover{
    background-color: var(--color-secundaria);
}
.box-select2 .box-sel-tipos .tipos1, .box-select1 .box-sel-preten .pretencao1{
    padding-left: 10px;
    padding-top: 2px;
    height: 15px; 
    font-size: 10px;
}
.box-select2 .box-sel-tipos .tipos2, .box-select1 .box-sel-preten .pretencao2{
    padding-left: 10px;
    height: 25px; 
    font-size: 16px;
}
.pretencao, .tipos {

    appearance: none;
    border-radius: 11px;
    border: none;
    background-color: var(--color-grey);
    padding-left: 10px;
    height: 100%;
}

.bar-pesquisar {
    height: 40px;
    width: 30%;
    border-radius: 11px;
    border: none;
    background-color: var(--color-grey);
    padding-left: 10px;
}

.btn-buscar, .btn-filtros {
    height: 40px;
    width: 10%;
    background-color: var(--color-grey);
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-weight: bold;
}
.btn-buscar{
    background-color: var(--color-secundaria);
    color: var(--color-principal);
}
.pretencao:focus, .tipos:focus, .bar-pesquisar:focus
{
    outline: none;
}
.box-bar-filtros{
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0px 0px 11px 11px;
    justify-content: center;
    align-items: center;
    transition: max-height .5s ease;
}
.box-bar-filtros.open{
    max-height: 500px;
}
.box-filtros{
    width: 50%;
    flex-wrap: wrap;
    padding: 5px;
}
.box-filtros h2{
    font-size: 14px;
    width: 100%;
    margin-bottom: 4px;
}
.box-filtros input[type="text"]{
    height: 25px;
    width: 36%;
    background-color: var(--color-grey);
    border: none;
    border-radius: 6px;
    padding-left: 10px;
}
.box-filtros input[type="text"]:focus{
    outline: none;
}
.box-filtros input[type="radio"]{
    display: none;
}
.box-2-filtros, .box-4-filtros{
    display: flex;
}
.box-2-filtros label, .box-4-filtros label{
    background-color: var(--color-grey);
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 400;
}
.box-2-filtros label.checked, .box-4-filtros label.checked {
    background-color: var(--color-principal);
    color: white;
}
.box-1-filtros label, .box-3-filtros label{
    margin-right: 2px;
    margin-left: 18px;
}

/*  --- Section LineTexto ---   */

.lineTexto{
    height: 200px;
}
.lineTexto .container{
    height: 100%;
    max-width: none;
    padding:0;
    justify-content: center;
    align-items: center;
}
.line-transition1{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, var(--color-principal), transparent) 1;
}
.line-transition2{
    width: 100%;
    height: 40px;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, var(--color-principal), transparent) 1;
}
.textReferencePrincipal {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textReferencePrincipal h2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.text-motivacao{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
}
.text-motivacao h2{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.text-motivacao h3{
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/*  --- Grid ---   */

.section-grid .container{
    display: block;
}

.container-lancamentos, .container-destaques{
    margin-top: 20px;
    width: 100%;
}
.container-lancamentos h2, .container-destaques h2{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, var(--color-principal), transparent) 1;
}
.box-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px 20px;
    margin: 40px 0px;
}
.box-imovel{
    background-color: var(--color-grey);
    width: 270px;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid var(--color-grey-input);
    cursor: pointer;
}
.box-imovel-imagem{
    overflow: hidden;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imovel-imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-imovel-informacao{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px 20px;
}
.imovel-div-infomacao{
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.imovel-div-infomacao .imovel-tipo{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.imovel-div-infomacao .imovel-valor{
    font-size: 16px;
    font-weight: bolder;
    margin: 14px 0px;
}
.imovel-div-infomacao .imovel-endereco{
    font-size: 12px;
    font-weight: 500;
}
.imovel-div-infomacao .imovel-setor{
    font-size: 12px;
    font-weight: 500;
}
.imovel-div-icones{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
.box-icone{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.box-icone h5{
    font-size: 14px;
    font-weight: 500;
    padding-left: 12px;
}
.box-imovel-informacao .icones{
    width: 20px;
}

/*  --- Slick Slider ---   */

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: var(--color-grey-input);
	border-width: 0;
	background: var(--color-grey-input);
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: var(--color-principal);
	color: var(--color-principal);
}

.slick-slide:focus { outline: none; }

/*  --- Footer ---   */

footer{
    width: 100%;
}
footer .container{
    height: 240px;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    border-top: 10px solid var(--color-secundaria);
    margin-top: 60px;
}
.informacao-footer-box1, .informacao-footer-box2, .informacao-footer-box3{
    width: 30%;
    height: 180px;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    justify-content: start;
}
.informacao-footer-box1 img{
    width: 110px;
}
.informacao-footer-box1 li{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    padding: 2px 0px;
    list-style: none;
    text-align: start;
    letter-spacing: 1px;
    color: var(--color-white);
}
.informacao-footer-box2 li{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    padding: 6px 0px;
    text-align: start;
    list-style: square inside;
    color: var(--color-secundaria);
}
.informacao-footer-box2 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--color-white);
}
.informacao-footer-box2 h1{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-white);
}
.informacao-footer-box3 h1{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 28px;
    color: var(--color-white);
}
.icon-redes-social{
    display: flex;
    justify-content: start;
}
.informacao-footer-box3 img{
    width: 40px;
    margin: 10px;
}
.direitos{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    border-top: 2px solid var(--color-secundaria);
}
.direitos h2{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--color-white);
}

/*  --- Respansivo ---   */

@media screen and (min-width: 1367px)
{
    .container{
        max-width: 1800px;
    }
}

@media screen and (max-width: 999px)
{

    /*  --- Section Principal ---   */

    .box-bar-main{
        width: 740px;
    }
    .box-bar-pesquisa{
        flex-wrap: wrap;
        height: 120px;
        align-content: flex-start;
    }
    .box-select2, .box-select1{
        width: calc(50% - 10px);
        margin-top: 10px;
        margin-bottom: 10px;
    } 
    .bar-pesquisar{
        width: calc(50% - 10px);
    }
    .btn-buscar, .btn-filtros{
        width: calc(25% - 5px);
    }
    .text-motivacao{
        font-size: 12px;
    }
    .text-motivacao h3{
        padding-bottom: 20px;
    }
    .text-motivacao h2, .text-motivacao h3{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px)
{

    /*  --- Section Principal ---   */

    .nav-1{
        width: 40%;
    }
    .nav-menu{
        width: 60%;
    }
    .nav-2 li{
        list-style: none;
        display: none;
    }
    .nav-2 img{
        display: flex;
    }
    .nav-mobile {
        background-color: var(--color-principal);
        position: absolute;
        right: 0;
        top: 100px;
        width: 210px;
        height: 0%;
        align-content: top;
        transition: height .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .nav-mobile.open {
        display: block;
        height: 100vh;
        z-index: 100;
    }
    .nav-mobile li{
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .nav-mobile a{
        text-decoration: none;
        color: var(--color-white);
        font-weight: 400;
    }
    .box-bar-main{
        margin-top: 80px;
        width: 90%;
    }
    .box-bar-pesquisa{
        height: auto;
        padding-bottom: 10px;
    }
    .box-bar-pesquisa *{
        width: 100%;
    }
    .box-select2, .box-select1{
        margin-top: 0px;
        margin-bottom: 10px;
    } 
    .box-sel-preten-drop, .box-sel-tipos-drop{
        align-items: start;
    }
    .box-sel-preten-drop label, .box-sel-tipos-drop label{
        width: 100%;
        padding: 0px 0px 0px 10px;
    }
    .box-sel-preten-drop h4, .box-sel-tipos-drop h4{
        padding-left: 0;
    }
    .box-bar-filtros *{
        width: 100%;
    }
    .box-1-filtros label, .box-3-filtros label{
        margin-right: 0px;
        margin-left: 0px;
    }
    .btn-buscar, .btn-filtros {
        margin-top: 10px;
    }
    .box-filtros{
        margin-top: 10px;
    }

    /*  --- Section LineTexto ---   */

    .textReferencePrincipal h2{
        font-size: 14px;
    }
    
    /*  --- Section Grid ---   */

    .slick-dotted li button{
        width: 10px;
        height: 10px;
        border-radius: 8px;
        color: var(--color-grey-input);
        border-width: 0;
        background: var(--color-grey-input);
        opacity: 1;
        cursor: pointer;
        font-size: 8px;
    }
    
    li.slick-active button{
        background: var(--color-principal);
        color: var(--color-principal);
    }

    /*  --- Footer ---   */

    footer .container{
        display: block;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .informacao-footer-box1, .informacao-footer-box2, .informacao-footer-box3{
        width: 100%;
        margin: 0px 0px;
        justify-content: center;
        align-items: center;
    }
    .informacao-footer-box1 li{
        text-align: center;
    }
    .informacao-footer-box2 li{
        list-style: none;
        text-align: center;
    }
    .informacao-footer-box2 h1{
        text-align: center;
        margin-bottom: 12px;
        margin-top: 40px;
    }
    .informacao-footer-box2 a{
        text-decoration: none;
        letter-spacing: 1px;
        color: var(--color-white);
    }
    .informacao-footer-box3 h1{
        text-align: center;
        margin-bottom: 12px;
    }
    .icon-redes-social{
        justify-content: center;
    }
}