*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
}
:root{
    --color-principal: rgb(8, 34, 88);
    --color-secundaria: rgb(222,178,100);
    --color-grey: rgb(220,220,220);
    --color-grey-input: rgb(235,235,235);
    --color-white: rgb(255, 255, 255);
}
.container
{
    display: flex;
    max-width: 1200px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
    border: 2px solid rgb(30, 255, 0);
}
.line-color{
    width: 100%;
    height: 10px;
    background-color: var(--color-secundaria);
}
.navegation{
    background-color: var(--color-principal);
    height: 90px;
}
.nav-1{
    width: 10%;
    /*border: 2px solid blue;*/
    align-self: center;
}
.nav-1 img{
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    padding: 0px;
}
.nav-menu{
    display: flex;
    /*border: 2px solid red;*/
    margin: auto;
    width: 90%;
    height: 90px;
}
.nav-2{
    display: flex;
    width: 90%;
}
.nav-2 ul{
    display: flex;
    /*border: 2px solid rgb(137, 47, 255);*/
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: end;
}
.nav-2 li{
    /*border: 2px solid green;*/
    list-style: none;
    margin-right: 6%;
}
.nav-2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.nav-2 a:hover{
    border-bottom: 2px solid var(--color-secundaria);
    border-radius: 2px;
}
.nav-3{
    /*border: 2px solid cyan;*/
    margin: auto;
    width: 10%;
}
.nav-3 img{
    width: 28px;
    cursor: pointer;
    color: #ffffff;
}

/*  --- Section Home ---   */

.home-page{
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    background-image: url(../image/background_one.jpg);
}
.home-search{
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-bottom: 20px;
}
.search-bar-main{
    margin: auto;
    width: 800px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 22px;
    box-shadow: 2px 2px 4px rgb(40, 42, 44), -2px -2px 4px rgb(75, 82, 90);
}

/*  --- Section Descricao ---   */

.box-descricao{
    width: 100%;
    min-height: 200px;
}